<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="icon" type="image/png" href="https://media.a3d.pro/i/a74d0b55-0e90-4711-8bcd-927285aa757b.png">
    <meta content="A3D Platform - About Us" property="og:title" />
    <meta content="We self host alternatives to big popular services like GitHub, Imgur, Discord and even Google, make sure to check out our projects" property="og:description" />
    <meta content="https://a3d.pro" property="og:url" />
    <meta content="https://media.a3d.pro/i/a74d0b55-0e90-4711-8bcd-927285aa757b.png" property="og:image" />
    <meta content="#3559FF" data-react-helmet="true" name="theme-color" />
    <title>About A3D</title>
</head>
<body>
    <div class="top-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="projects">Projects</a></li>
            <li class="active"><a href="about">About</a></li>
        </ul>
    </div>

    <div class="about-box">
        <h1 class="about-title">About A3D</h1>
        <p class="about-text">
            We self host alternatives to big popular services like GitHub, Imgur, Discord and even Google, make sure to check out our projects
        </p>
    </div>

    
    
</body>
</html>