<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A3D Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="top-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="about">About</a></li>
            <li class="active"><a href="status">Status</a></li>
        </ul>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/davidjbradshaw/iframe-resizer@master/js/iframeResizer.min.js"></script>
    <iframe class="htframe" src="https://wl.hetrixtools.com/r/f1c4c7aec84944c59aa22123b8d6d97f/" width="100%" scrolling="no" style="border:none;" sandbox="allow-scripts allow-same-origin allow-popups" onload="iFrameResize([{log:false}],'.htframe')"></iframe>
    <style>
        .htframe {
            margin-top: 30px; /* Adjust this value based on your top bar's height */
        }
    </style>
    
</body>
</html>